@media (max-width: 1500px) and (min-width: 800px){
    header{
        justify-content: space-around;
    }
    #menu{
        gap: 2rem;
    }
    .logo{
        width: 3rem;
        color: #000;
    }

    .menu-option{
        font-size: 1.2rem;
    }
    
    /* Main container */
    .section-1{
        background-image: none;
    }
    .main-container{
        height: 50rem;
        align-items: center;
    }
    .main-container-img{
        display: block;
    }   
    .main-img{
        width: 40rem;
    }
    .container-1-content{
        gap: 1.4rem;
    }
    .container-1 h1{
        width: 34rem;
        font-size: 2.5rem;
    }
    .container-1 p{
        width: 28rem;
        font-size: 1.3rem;
    }
    /* Section 2 */
    .section-2-content{
        width: 45rem;
    }
    .section-2-tittle{
        font-size: 2rem;
    }
    .section-2-subtittle{
        font-size: 1rem;
    }
    .section-2-img{
        width: 30rem;
    }

    /* section 3 */

    .section-3{
        height: 50rem;
    }
    .section-3-tittle{
        font-size: 2rem;
    }
    .section-3-subtittle{
        width: 32rem;
        text-align: center;
        font-size: 1rem;
    }
    .areas-container{
        gap: 3rem;
    }
    .area{
        width: 20rem;
        height: 20rem;
        gap: 1rem;
    }
    .area-logo{
        width: 5rem;
    }
    .area-tittle{
        font-size: 1.5rem;
        color: #4164B3;
    }
    .area-resume{
        width: 18rem;
        font-size: 1rem;
        text-align: center;
        color: #767676;
    }
    
    /* Modal */
    
    .modal{
        width: 60%;
        height: 85%;
    }
    .modal-tittle h1{
        font-size: 2.5rem;
    }
    .input-tittles{
        font-size: 1.7rem;
    }
    .modal-tittle h3{
        font-size: 1.5rem;
    }
    .form{
        width: 100%;
        height: 2rem;
        background-color: #F6F6F6;
        color: #A9A9A9;
        font-size: 1.1rem;
    }
    .form input{
        font-size: 1.1rem;
    }
    .create-login{
        margin-top: .6rem;
    }
    .create-account{
        width: 13rem;
        height: 4rem;
        font-size: 1.3rem;
    }
    .create-account:hover{
        background-color: #13388a;
    }
    .modal-login{
        text-align: center;
        font-size: 1rem;
        font-weight: 100;
    }
    .modal-login a{
        color: #4164B3;
    }
}